<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.pandoctor</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>055BD542-9C08-4AC2-982E-2C0F2593B236</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>08A1D2B1-5099-4291-99AF-5F81C30E4908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B08965F4-82DC-4F64-AFD7-BF2395247F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0F8034E2-4446-4254-9244-739BB885B04D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F862569-E3D9-446C-8754-72EF53B58F54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>122CA503-8FA7-4E9B-872F-7A1B531D0EDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2665E6FE-07BE-4AE0-A2B8-7AA9FBF2960B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18E6F3FF-0383-4302-AD54-1FBCB72B17A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C4C859C-C7D6-4A14-BDFC-BED481B39F6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DDB4F8C-8A2B-499E-8CE0-BFA8A45F505C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23968469-7F80-406E-A8A8-DF368D5A9012</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EE30B46-EF44-42C0-9F31-5A545623693F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2665E6FE-07BE-4AE0-A2B8-7AA9FBF2960B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1324EAF-B551-4C2C-9BDC-7FDEAED1357B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A7ABD22-E2D5-4022-9F62-36A08D34E1A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4E323A4-EED0-45C9-A60B-B4147F8723E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A9485C4-B33F-4831-BC50-01F31EB491F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>122CA503-8FA7-4E9B-872F-7A1B531D0EDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>35CD58F7-87E8-46EA-8969-49DD3A176D54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87380D2A-27E0-4806-994B-09FF3AFD8939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>47868342-D011-4B1F-8325-41ABF0E9EFD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>055BD542-9C08-4AC2-982E-2C0F2593B236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>52EC14AC-6750-413F-8042-87C48C1E6573</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F8034E2-4446-4254-9244-739BB885B04D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55AF51A6-8617-489C-9835-1EE61A5053B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1B8403A-9446-47DB-B233-AF4849594D3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>563553B5-7E0A-417B-BAA3-53A238A92566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19B2D715-AB9B-4575-9D86-70AA4FCAFFE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>580DEA01-095A-4418-A9D9-2A19AAF9EA80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7E3240C-8365-46EA-A45E-3967B8C46770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>67CEFBEC-8983-4264-B8ED-8E2D82319ECC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8329E9CD-B2D1-4E30-95BA-F6B724C8F601</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C4C859C-C7D6-4A14-BDFC-BED481B39F6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D8FFDB4-087F-49C5-9A9F-F15C0BD956C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08A1D2B1-5099-4291-99AF-5F81C30E4908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C901E11-9A09-4B97-9904-44D6DD2EC121</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DC49E24-4C0E-4279-9CA1-40FDD7ED92CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2040E3B-2E1F-4921-A567-1BEBBEB45419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F862569-E3D9-446C-8754-72EF53B58F54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBCF3BAE-C6E0-4F55-81DF-7455188CAEA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8329E9CD-B2D1-4E30-95BA-F6B724C8F601</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>580DEA01-095A-4418-A9D9-2A19AAF9EA80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>87380D2A-27E0-4806-994B-09FF3AFD8939</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55C51D3F-4D0D-4AB0-9C89-56FBC7424385</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2934545-4881-4B18-B5B9-65D976E00FF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5420F3E-E8C1-47B8-B5B5-A16BD11E2E26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B5420F3E-E8C1-47B8-B5B5-A16BD11E2E26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA1234B4-39F3-4A75-A929-BDDB6179DD94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6484747-9979-4FAF-9AE5-605C65D446A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C343CDDD-8AA4-44A0-A46A-079E2716ED52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18E6F3FF-0383-4302-AD54-1FBCB72B17A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9D13F0E-ADE6-4153-A934-86D78B1ECF6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A7ABD22-E2D5-4022-9F62-36A08D34E1A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E042ED8A-4101-4F8E-BC6E-A90530FC18DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9D13F0E-ADE6-4153-A934-86D78B1ECF6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1B8403A-9446-47DB-B233-AF4849594D3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0D51653-F5AD-4607-AE33-F92C08A07652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECF42778-2FD0-438D-9EF9-4AC935C95E13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0D51653-F5AD-4607-AE33-F92C08A07652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2040E3B-2E1F-4921-A567-1BEBBEB45419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37C7BDEE-387F-4D07-B185-07558799DC45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23968469-7F80-406E-A8A8-DF368D5A9012</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FA1234B4-39F3-4A75-A929-BDDB6179DD94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C280ABEC-0B6E-4D68-AA02-AB3B50806CF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Pandoc GUI for Alfred (v. 1.0.5)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pandoctor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dr:config</string>
				<key>subtext</key>
				<string>Generate all relevant Pandoc information.</string>
				<key>text</key>
				<string>Configure Pandoctor's Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py config</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1DDB4F8C-8A2B-499E-8CE0-BFA8A45F505C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:help</string>
				<key>script</key>
				<string>python pandoctor.py help filter</string>
				<key>title</key>
				<string>Access various helpful items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C901E11-9A09-4B97-9904-44D6DD2EC121</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py help "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1DC49E24-4C0E-4279-9CA1-40FDD7ED92CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_inputs "[path]"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>New Pandoc Conversion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>47868342-D011-4B1F-8325-41ABF0E9EFD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store in_path "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>055BD542-9C08-4AC2-982E-2C0F2593B236</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_outputs "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>37C7BDEE-387F-4D07-B185-07558799DC45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store in_format "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2040E3B-2E1F-4921-A567-1BEBBEB45419</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:in</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search inputs "{query}"</string>
				<key>subtext</key>
				<string>Possible input formats</string>
				<key>title</key>
				<string>Pandoc Inputs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_inputs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store out_format "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08A1D2B1-5099-4291-99AF-5F81C30E4908</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:out</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search outputs "{query}"</string>
				<key>subtext</key>
				<string>Possible output formats</string>
				<key>title</key>
				<string>Pandoc Output</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_outputs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B6484747-9979-4FAF-9AE5-605C65D446A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B08965F4-82DC-4F64-AFD7-BF2395247F7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_options</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>55AF51A6-8617-489C-9835-1EE61A5053B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0D51653-F5AD-4607-AE33-F92C08A07652</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:opt</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search options "{query}"</string>
				<key>subtext</key>
				<string>Possible boolean options</string>
				<key>title</key>
				<string>Pandoc Boolean Options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1B8403A-9446-47DB-B233-AF4849594D3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_opt_set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>ECF42778-2FD0-438D-9EF9-4AC935C95E13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr:opt:set</string>
				<key>text</key>
				<string>Set argument value of chosen option</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_run</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4EE30B46-EF44-42C0-9F31-5A545623693F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/texbin:/usr/local/bin
/usr/bin/python pandoctor.py run gui</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23968469-7F80-406E-A8A8-DF368D5A9012</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:defs</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search default "{query}"</string>
				<key>subtext</key>
				<string>Choose the options you want on by default.</string>
				<key>title</key>
				<string>Pandoc Default Options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18E6F3FF-0383-4302-AD54-1FBCB72B17A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_defaults</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C343CDDD-8AA4-44A0-A46A-079E2716ED52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store default "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C4C859C-C7D6-4A14-BDFC-BED481B39F6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_defaults "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>1D8FFDB4-087F-49C5-9A9F-F15C0BD956C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:ignore</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search ignore "{query}"</string>
				<key>subtext</key>
				<string>Choose the options you always want to ignore.</string>
				<key>title</key>
				<string>Pandoc Ignored Options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8329E9CD-B2D1-4E30-95BA-F6B724C8F601</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_ignore</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>67CEFBEC-8983-4264-B8ED-8E2D82319ECC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store ignore "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>580DEA01-095A-4418-A9D9-2A19AAF9EA80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_ignore "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>E7E3240C-8365-46EA-A45E-3967B8C46770</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store in_path "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87380D2A-27E0-4806-994B-09FF3AFD8939</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_templates ""</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>55C51D3F-4D0D-4AB0-9C89-56FBC7424385</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Templated Pandoc Conversion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>35CD58F7-87E8-46EA-8969-49DD3A176D54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DBCF3BAE-C6E0-4F55-81DF-7455188CAEA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/texbin:/usr/local/bin
/usr/bin/python pandoctor.py run "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F862569-E3D9-446C-8754-72EF53B58F54</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_templates</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>52EC14AC-6750-413F-8042-87C48C1E6573</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:temps</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search templates "{query}"</string>
				<key>subtext</key>
				<string>All user-defined templates</string>
				<key>title</key>
				<string>Pandoc Command Templates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F8034E2-4446-4254-9244-739BB885B04D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_templates_set_name "Name ➣"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>19B2D715-AB9B-4575-9D86-70AA4FCAFFE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dr:temp:set</string>
				<key>text</key>
				<string>Create new user template</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>563553B5-7E0A-417B-BAA3-53A238A92566</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_templates_set_name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A2934545-4881-4B18-B5B9-65D976E00FF0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_templates_set_def ""</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C280ABEC-0B6E-4D68-AA02-AB3B50806CF6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store template "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA1234B4-39F3-4A75-A929-BDDB6179DD94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr:_temp:set:name</string>
				<key>text</key>
				<string>Set Name of new user template</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5420F3E-E8C1-47B8-B5B5-A16BD11E2E26</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store template "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2665E6FE-07BE-4AE0-A2B8-7AA9FBF2960B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_templates_set_cmd "Command ➣"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C1324EAF-B551-4C2C-9BDC-7FDEAED1357B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:_temp:set:def</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search set_template_default "{query}"</string>
				<key>title</key>
				<string>Default Options of new user template?</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>122CA503-8FA7-4E9B-872F-7A1B531D0EDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_templates_set_def</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2A9485C4-B33F-4831-BC50-01F31EB491F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_templates_set_cmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E042ED8A-4101-4F8E-BC6E-A90530FC18DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr:_temp:set:cmd</string>
				<key>text</key>
				<string>Add Command of new user template</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9D13F0E-ADE6-4153-A934-86D78B1ECF6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store template "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A7ABD22-E2D5-4022-9F62-36A08D34E1A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F4E323A4-EED0-45C9-A60B-B4147F8723E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>055BD542-9C08-4AC2-982E-2C0F2593B236</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>08A1D2B1-5099-4291-99AF-5F81C30E4908</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>0F8034E2-4446-4254-9244-739BB885B04D</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>122CA503-8FA7-4E9B-872F-7A1B531D0EDF</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>18E6F3FF-0383-4302-AD54-1FBCB72B17A8</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>19B2D715-AB9B-4575-9D86-70AA4FCAFFE5</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>1D8FFDB4-087F-49C5-9A9F-F15C0BD956C4</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>1DC49E24-4C0E-4279-9CA1-40FDD7ED92CA</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>1DDB4F8C-8A2B-499E-8CE0-BFA8A45F505C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>23968469-7F80-406E-A8A8-DF368D5A9012</key>
		<dict>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>2665E6FE-07BE-4AE0-A2B8-7AA9FBF2960B</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>2A7ABD22-E2D5-4022-9F62-36A08D34E1A0</key>
		<dict>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>2A9485C4-B33F-4831-BC50-01F31EB491F5</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>35CD58F7-87E8-46EA-8969-49DD3A176D54</key>
		<dict>
			<key>ypos</key>
			<real>1190</real>
		</dict>
		<key>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>37C7BDEE-387F-4D07-B185-07558799DC45</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>47868342-D011-4B1F-8325-41ABF0E9EFD5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4EE30B46-EF44-42C0-9F31-5A545623693F</key>
		<dict>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>52EC14AC-6750-413F-8042-87C48C1E6573</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>55AF51A6-8617-489C-9835-1EE61A5053B9</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>55C51D3F-4D0D-4AB0-9C89-56FBC7424385</key>
		<dict>
			<key>ypos</key>
			<real>1190</real>
		</dict>
		<key>563553B5-7E0A-417B-BAA3-53A238A92566</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>580DEA01-095A-4418-A9D9-2A19AAF9EA80</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>67CEFBEC-8983-4264-B8ED-8E2D82319ECC</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>6C4C859C-C7D6-4A14-BDFC-BED481B39F6A</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>7C901E11-9A09-4B97-9904-44D6DD2EC121</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7F862569-E3D9-446C-8754-72EF53B58F54</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>8329E9CD-B2D1-4E30-95BA-F6B724C8F601</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>87380D2A-27E0-4806-994B-09FF3AFD8939</key>
		<dict>
			<key>ypos</key>
			<real>1190</real>
		</dict>
		<key>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>A2934545-4881-4B18-B5B9-65D976E00FF0</key>
		<dict>
			<key>ypos</key>
			<real>1520</real>
		</dict>
		<key>B08965F4-82DC-4F64-AFD7-BF2395247F7C</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>B5420F3E-E8C1-47B8-B5B5-A16BD11E2E26</key>
		<dict>
			<key>ypos</key>
			<real>1520</real>
		</dict>
		<key>B6484747-9979-4FAF-9AE5-605C65D446A4</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>C1324EAF-B551-4C2C-9BDC-7FDEAED1357B</key>
		<dict>
			<key>ypos</key>
			<real>1630</real>
		</dict>
		<key>C280ABEC-0B6E-4D68-AA02-AB3B50806CF6</key>
		<dict>
			<key>ypos</key>
			<real>1520</real>
		</dict>
		<key>C343CDDD-8AA4-44A0-A46A-079E2716ED52</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>C9D13F0E-ADE6-4153-A934-86D78B1ECF6F</key>
		<dict>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>DBCF3BAE-C6E0-4F55-81DF-7455188CAEA2</key>
		<dict>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>E042ED8A-4101-4F8E-BC6E-A90530FC18DF</key>
		<dict>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>E1B8403A-9446-47DB-B233-AF4849594D3F</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>E7E3240C-8365-46EA-A45E-3967B8C46770</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>ECF42778-2FD0-438D-9EF9-4AC935C95E13</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>F0D51653-F5AD-4607-AE33-F92C08A07652</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>F2040E3B-2E1F-4921-A567-1BEBBEB45419</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>F4E323A4-EED0-45C9-A60B-B4147F8723E9</key>
		<dict>
			<key>ypos</key>
			<real>1740</real>
		</dict>
		<key>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</key>
		<dict>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>FA1234B4-39F3-4A75-A929-BDDB6179DD94</key>
		<dict>
			<key>ypos</key>
			<real>1520</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
