<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.pandoctor</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>055BD542-9C08-4AC2-982E-2C0F2593B236</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>08A1D2B1-5099-4291-99AF-5F81C30E4908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B08965F4-82DC-4F64-AFD7-BF2395247F7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23968469-7F80-406E-A8A8-DF368D5A9012</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EE30B46-EF44-42C0-9F31-5A545623693F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>47868342-D011-4B1F-8325-41ABF0E9EFD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>055BD542-9C08-4AC2-982E-2C0F2593B236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55AF51A6-8617-489C-9835-1EE61A5053B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1B8403A-9446-47DB-B233-AF4849594D3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08A1D2B1-5099-4291-99AF-5F81C30E4908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2040E3B-2E1F-4921-A567-1BEBBEB45419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>80EBB1F2-B2AE-4B24-A77A-2D2E1A56570F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>078D808A-CA53-4FD1-8B69-9A0BD9217F31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6484747-9979-4FAF-9AE5-605C65D446A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1B8403A-9446-47DB-B233-AF4849594D3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80EBB1F2-B2AE-4B24-A77A-2D2E1A56570F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Final Selection</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0D51653-F5AD-4607-AE33-F92C08A07652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECF42778-2FD0-438D-9EF9-4AC935C95E13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0D51653-F5AD-4607-AE33-F92C08A07652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F2040E3B-2E1F-4921-A567-1BEBBEB45419</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37C7BDEE-387F-4D07-B185-07558799DC45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23968469-7F80-406E-A8A8-DF368D5A9012</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Pandoc GUI for Alfred (v. 0.5)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pandoctor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>New Pandoc Conversion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>47868342-D011-4B1F-8325-41ABF0E9EFD5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_inputs "[path]"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store in_path "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>055BD542-9C08-4AC2-982E-2C0F2593B236</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store in_fmt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2040E3B-2E1F-4921-A567-1BEBBEB45419</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_outputs "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>37C7BDEE-387F-4D07-B185-07558799DC45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:in</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search inputs "{query}"</string>
				<key>subtext</key>
				<string>Possible input formats</string>
				<key>title</key>
				<string>Pandoc Inputs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_inputs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B08965F4-82DC-4F64-AFD7-BF2395247F7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_outputs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B6484747-9979-4FAF-9AE5-605C65D446A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:out</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search outputs "{query}"</string>
				<key>subtext</key>
				<string>Possible output formats</string>
				<key>title</key>
				<string>Pandoc Output</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store out_fmt "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08A1D2B1-5099-4291-99AF-5F81C30E4908</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_run "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>078D808A-CA53-4FD1-8B69-9A0BD9217F31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python bool_opts.py "save" "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80EBB1F2-B2AE-4B24-A77A-2D2E1A56570F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dr:opt</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python pandoctor.py search options "{query}"</string>
				<key>subtext</key>
				<string>Possible boolean options</string>
				<key>title</key>
				<string>Pandoc Boolean Options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1B8403A-9446-47DB-B233-AF4849594D3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_options</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>55AF51A6-8617-489C-9835-1EE61A5053B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py launch pandoc_options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0D51653-F5AD-4607-AE33-F92C08A07652</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_opt_set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>ECF42778-2FD0-438D-9EF9-4AC935C95E13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dr:opt:set</string>
				<key>text</key>
				<string>Set argument value of chosen option</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py store options "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python pandoctor.py run</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23968469-7F80-406E-A8A8-DF368D5A9012</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4EE30B46-EF44-42C0-9F31-5A545623693F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pandoc_run</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python config.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dr:config</string>
				<key>subtext</key>
				<string>Generate all relevant Pandoc information.</string>
				<key>text</key>
				<string>Configure Pandoctor's Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>055BD542-9C08-4AC2-982E-2C0F2593B236</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>078D808A-CA53-4FD1-8B69-9A0BD9217F31</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>08A1D2B1-5099-4291-99AF-5F81C30E4908</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>1EAA10AA-FE18-466F-A4DE-BEDB29D8FBD2</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>23968469-7F80-406E-A8A8-DF368D5A9012</key>
		<dict>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>2D3C7A48-5256-4F0D-9A2F-889DC310EBFE</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>36CC0ECC-151C-4BAD-85C9-0315C53F3E25</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>37C7BDEE-387F-4D07-B185-07558799DC45</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>47868342-D011-4B1F-8325-41ABF0E9EFD5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4EE30B46-EF44-42C0-9F31-5A545623693F</key>
		<dict>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>55AF51A6-8617-489C-9835-1EE61A5053B9</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6988F4F2-8373-4A1B-AE11-BA3BC4D83A35</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>73A89E98-BBFC-42EA-8BCB-6CD3B512DC44</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>7D0B6C9F-FB9A-4590-8565-41E0CBA633E0</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>80EBB1F2-B2AE-4B24-A77A-2D2E1A56570F</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>8E58DC4F-E28D-42FD-949F-D46FD39BCC48</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A0E86B30-F5F4-4F2B-99BF-0C776745B7D2</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>B08965F4-82DC-4F64-AFD7-BF2395247F7C</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>B6484747-9979-4FAF-9AE5-605C65D446A4</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>B9CA89DB-9705-40BA-A7A1-C417E6BC0D5F</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>E1B8403A-9446-47DB-B233-AF4849594D3F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>ECF42778-2FD0-438D-9EF9-4AC935C95E13</key>
		<dict>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>F0D51653-F5AD-4607-AE33-F92C08A07652</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>F2040E3B-2E1F-4921-A567-1BEBBEB45419</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>F65CD052-1C9C-48CB-9F3E-20E10B412FD6</key>
		<dict>
			<key>ypos</key>
			<real>830</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
